<%- include('partials/head')%>
</head>
<body class=" bg-amber-300 ">
  <%- include('partials/nav')%>

  <header class="text-center">
    <h1 class="bg-red-500 p-4 mt-60" >Home add Sucessfully</h1>
  </header>
</body>
</html>