<%- include('partials/head')%>
  </head>
  <body>
   
<%- include('partials/nav')%>
    <main class="text-center">
      <section>
        <a href="/host/add-home" class="font-bold text-blue-500 m-16 ">Add Homes</a>
      </section>

      <section>
        <h2>Here are our Registered houses</h2>
        <ul><% houses.forEach(houses =>{%>
          <li>
            <%=houses.house%>
          </li>
        <%}) %>
        </ul>
      </section>

    </main>
  </body>
</html>
