<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact-form</title>
</head>
<body>
  <main>
    <form action="/form/contact-us" method="post"><label for="name">Name</label><input type="text" placeholder="Enter Your Name" id="name-input" name="name"><label for="mail">E-mail</label><input type="email" placeholder="Enter your Email" id="email-input" name="mail" ><button type="submit">Submit</button></form>
  </main>
</body>
</html>