<%- include('../partials/head')%>
</head>
<body class=" bg-amber-300 ">
  <%- include('../partials/nav')%>

  <header class="text-center">
    <h1 class="bg-red-500 p-4 mt-60" >Home add Sucessfully</h1>
   <a href="/" class="bg-amber-200 p-4 rounded text-black font-semibold hover:bg-amber-300 transition block ">
  Go back to Home
</a>

  </header>
</body>
</html>